/* ---------------------------Header -------------------------------------------------*/
nav.ModelChoose img {
    max-width: 100%;
    min-width: 300px;
}
nav.navbar.navbar-expand-lg.navbar-dark.indigo {
    background: #6272cc !important;
}
nav.ModelChoose ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav.ModelChoose li {
    flex: 1;
    max-width: 500px;
    margin: 20px;
}






/* --------------------------Signup and register ----------------------------------------*/








#exampleModal display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {
    display: flex;
    display: -webkit-flex; }


  #exampleModal list-type-ulli, .socials {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  
   #exampleModal .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 98;
        background-color: rgba(0, 0, 0, 255);
       }
  
 #exampleModal input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
  
  
 #exampleModal img {
    max-width: 100%;
    height: auto; }
  
 #exampleModal figure {
    margin: 0; }
  
  
  
 #exampleModal .main {
    background: #f8f8f8;
    padding: 150px 0; }
  
 #exampleModal .clear {
    clear: both; }
  
  body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
    font-family: Poppins; }
  
  
  
  
  
  
  
 #exampleModal .signup-form, .signup-image, .signin-form, .signin-image {
    width: 50%;
    overflow: hidden; }
  
  
  
  
  #exampleModal figure {
    margin-bottom: 50px;
    text-align: center; }
  

  
  
  
  
  #exampleModal .signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px; }
  
  
 #exampleModal .form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden; }
    .form-group:last-child {
      margin-bottom: 0px; }
  
  #exampleModal input:not(.form-check-input) {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box; }
    input::-webkit-input-placeholder {
      color: #999; }
    input::-moz-placeholder {
      color: #999; }
    input:-ms-input-placeholder {
      color: #999; }
    input:-moz-placeholder {
      color: #999; }
    input:focus {
      border-bottom: 1px solid #222; }
      input:focus::-webkit-input-placeholder {
        color: #222; }
      input:focus::-moz-placeholder {
        color: #222; }
      input:focus:-ms-input-placeholder {
        color: #222; }
      input:focus:-moz-placeholder {
        color: #222; }
  
  
  
  
  #exampleModal label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222; }
  
  
  
  
  
  #exampleModal .signin-content {
    padding-top: 67px;
    padding-bottom: 87px; }
  
  #exampleModal .socials li {
    padding: 5px; }
  
  
  
  
  
 #exampleModal .signin-form {
    margin-right: 90px;
    margin-left: 80px; }
  
 #exampleModal .signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px; }
  
  @media screen and (max-width: 1200px) {
    .container {
      width: calc( 100% - 30px);
      max-width: 100%; } }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 1200px; } }
  @media screen and (max-width: 768px) {
    .signup-content, .signin-content {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column;
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center; }
    }
  
  
  
  
  
  