{% extends 'base.html' %}
{% load static %}
{% block content %}

        <link href="{% static 'css/applicant.css' %}" rel="stylesheet"/>
    </head>

{% include 'header.html' %}
    <body>

        <header>
            <img src="{% static 'img/fleche-retour.jpeg' %}" alt="bouton retour en arrière"/>
        </header>
        <h1>Candidat</h1>
        <p>Choisir son modèle</p>
        <h2>Les modèles</h2>
        <section>
            <article><a><img src="{% static 'img/modele.jpeg' %}" alt="modele de cv"/></a></article>
            <article><a><img src="{% static 'img/modele.jpeg' %}" alt="modele de cv"/></a></article>
            <article><a><img src="{% static 'img/modele.jpeg' %}" alt="modele de cv"/></a></article>
            <article><a><img src="{% static 'img/modele.jpeg' %}" alt="modele de cv"/></a></article>
            <article><a><img src="{% static 'img/modele.jpeg' %}" alt="modele de cv"/></a></article>

        </section>
        
    </body>
</html>
{% endblock content %}
