
{% extends 'base.html' %}


{% load static %}

{% block content %}  
<!--------------------------Css link---------------------->
<link rel="stylesheet" href="{% static 'css/index.css' %}"  />
<!--------------------------Botstrap link---------------------->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="Sykzen">  
</head>

<body>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<!--------------------------Navbar and logo and signup and register--------------------------------->
{% include 'header.html' %}
<!----------------------------------Begin Index------------------------------>
<nav class="ModelChoose">
  <ul>
      <li>
  
        <div id="Alignediv" class="card">

          <a href="{% url 'applicant' %}">
            <div class="card-header">
              <h1 class="text-center" >Espace Candidat</h1>
              <h2 class="text-center" style="font-size:20px;"> Voir les modèles</h2>
              <img src="{% static 'img/candidat.jpeg' %}" alt="bouton voir modèles" />
              <p class="text-center">-Créer votre CV à partir de modèles originaux ou classiques adaptés à vos besoins. <br/>
                  -Télécharger votre CV au format pdf et partager le avec le monde entier.<br/>
                  -Publier votre CV sur notre site pour maximiser votre visibilité.
              </p>
            </div>
          </a>
        </div>
   
      </li>
      <li>
        <div id="Alignediv" class="card">
          <a href="{% url 'espace_recruteur' %}">
            <div style="padding-bottom:32px;" class="card-header">
              <h1 class="text-center">Espace Recruteur</h1>
              <h2 class="text-center" style="font-size:20px;">Voir les candidats</h2>
              <img src="{% static 'img/recruteur.jpeg' %}" alt="bouton voir CV" />
              <p class="text-center">-Consulter les CV des candidats qui ont choisi de vous montrer leurs talents.<br/>
                  -Filtrer les candidats selon le profil que vous recherchez.<br/>
                 - Prener contact avec vos candidats.
              </p>
          </a>
        </div>
      </li>
  </ul>
</nav>
<!-------------------------------------End Index----------------------------------------->

</body>

{% endblock content %}   

